<div class="container">
    <div class="row">
      <div class="col-sm-4" style="width: 18rem;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Step 1:</h5>
            <p class="card-text">Create your album with a new name. It is some alpha-numerical value.</p>
            <form id="upload-form" action='/'>
              <input type="text" name="albumName" value="album2">
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="width: 18rem;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Step 2:</h5>
            <p class="card-text">Upload your photos for this album and get them processed.</p>
            <div class="container">
              <button id="uppyModalOpener" type="button" class="btn btn-primary">Upload</button>
              <script>
                const uppy = Uppy.Core({debug: true, autoProceed: false})
                  .use(Uppy.Dashboard, { trigger: '#uppyModalOpener' })
                  .use(Uppy.Form, {target: '#upload-form'})
                  .use(Uppy.XHRUpload, { formData: true, endpoint: 'http://157.230.150.42:8000/upload' })
                uppy.on('success', (fileCount) => {
                  console.log(`${fileCount} files uploaded`)
                });
                uppy.on('complete', (result) => {
                  if (result.failed.length === 0) {
                    console.log('Upload successful 😀')
                    console.log(result);
                    const albumName = result.successful[0].meta.albumName;
                    document.getElementById("myAnchor").href = "http://157.230.150.42:8079/" + albumName;
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', 'http://157.230.150.42:8000/static', true);
                    xhr.send(`albumName=${albumName}`);
                  } else {
                    console.warn('Upload failed 😞')
                  }
                  console.log('successful files:', result.successful)
                  console.log('failed files:', result.failed)
                })
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="width: 18rem;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Step 3:</h5>
            <p class="card-text">Now you can see all the faces in uploaded photos</p>
            <a href="#" id="myAnchor" class="btn btn-primary">View Album</a>
          </div>
        </div>
      </div>
    </div>
</div>