0.0.0.0:{$PHOTO_UPLOAD_SERVER_PORT} {
    log stdout
    tls off  # set this as self-signed for https  

    proxy / http://{$PHOTO_UPLOAD_SERVER_SERVICE}:{$PHOTO_UPLOAD_SERVER_PORT} {
        transparent
        header_upstream X-Marotagem  true
        header_upstream Host  "0.0.0.0:{$PHOTO_UPLOAD_SERVER_PORT}"
    }
}

0.0.0.0:{$CADDY_SERVER_PORT} {
    browse
    ext .html   # Clean URLs
    log stdout
    errors stdout
    tls off  # set this as self-signed for https
}